body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

.body{
    overflow-y: hidden;
}

.HomeContainer {
    position: absolute;
    width: 100vw;
    display: flex;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
}



.HomeContainer .wave{
    position: absolute;
    left: -2%;
    top: 66%;
    width: 120%;
    height: 20%;
}

.HomeContainer .blue{
    position: absolute;
    top: 70%;
    left: -2%;
    width: 1000%;
    height: 70%;
}

.SewolHome {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SewolHome button {
    background: none;
    border-radius: 8px;
    width: 16vw;
    height: 16vh;
    font-size: 1.4rem;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.HomeContainer .ribbonBox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translateX(-50%);
}

.HomeContainer .ribbon{
    position: absolute;
    display: flex;
    background: none;
    border-radius: 8px;
    color: #ffcc00;
    font-size: 4rem;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.HomeContainer .ribbon:hover{
    transform: scale(1.4);
}

.SewolHome button:hover {
    transform: scale(1.2);
}

.SewolHome img{
    width: 18vw;
    height: 18vh;
}

.Quiz {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Quiz img{
    width: 18vw;
    height: 18vh;
}

.Quiz button {
    background: none;
    border-radius: 8px;
    width: 16vw;
    height: 16vh;
    font-size: 1.4rem;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.Quiz button:hover {
    transform: scale(1.2);
}