.intro {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #f8f5f5, #f4e3b4);
}

.intro .iconBox {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.intro .sewolIcons {
    font-size: 5rem;
    color: #ffc00c;
    transition: all 0.3s ease-out;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;

}

.intro .sewolIcons:hover {
    transform: scale(1.4);
}

.intro img {
    position: absolute;
    width: 40vw;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}