body {
    margin: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: white;
}


.navBar {
    width: 26vw;
    height: 100vh;
    overflow-y: auto;
    background-color: pink;
    padding: 0;
    margin: 0;
}

.navBox{
    width: 20vw;
    height:36vh;
    background-color: black;
    padding: 0;
    margin: 0;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    top: 10%;
    border-radius: 10px;
    margin-bottom: 10%;
    overflow-x: hidden;
    overflow-y: auto;

}

.h1Box{
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkkhaki;
    width: 20vw;
    height: 5vh;
    top: 0;
    z-index: 999;
    transform: translateY(0);
}


.navBar .navBox h1{
    width: 80%;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: 10%;
    margin-top: 2%;
}

.navBar .navBox ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.navBar .navBox ul li {
    position: relative;
    width: 80%;
    font-weight: 600;
    margin-top: 10%;
    color: white;
    cursor: pointer;
}

.active{
    color: red;
}
