.video{
    position: absolute;
    display: flex;
    top: 14%;
    transform: translateX(-50%);
    left: 64%;
    z-index: 9999;
}

.icons{
    position: absolute;
    display: flex;
    font-size: 3rem;
    top: 6%;
    transform: translateX(-50%);
    left: 34%;
    cursor: pointer;
    width: 10%;
}